
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*                  <!--FONT   -->              */
body{
    font-family: 'Syne', sans-serif;
    color: white;
    background: rgb(67,97,238);
    background: linear-gradient(0deg, rgba(67,97,238,1) 0%, rgba(114,9,183,1) 100%);


}
/*                  <!-- COLORS-->              */
/*
https://coolors.co/f72585-7209b7-3a0ca3-4361ee-4cc9f0
F72585  FUCSIA
7209B7  VIOLETA
3A0CA3  AZUL OSCURO
4361EE  AZUL CLARO
4CC9F0  TURQUESA
*/

/*                  <!--CSS    -->              */

.header{
    height: 100vh;
    width: 100%;
    display: block;
    background-image: url(../img/pexels-cod.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px;
    text-align: center;
}

h3{
    margin: 10px;
}
.text1, .text2{
    font-size: 34px;
    margin-top: 10px;
    width: 50%;
}

.text1{
    font-size: 16px;
}
.logo{
    height: 250px;
    margin-top: 25px;

}
.services{
    width: 75%;
    margin: auto;
    padding: 2rem 1rem;
}
.container{
    width: 75%;
    margin: auto;
    padding:  2rem 1rem;
}

.text-center{
    text-align: center;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-ligh{
    background: rgb(67,97,238);
    background: radial-gradient(circle, rgba(67,97,238,1) 0%, rgba(114,9,183,1) 100%);

}


/*                  <!--FONDO  -->              */
